* {
	font-family: "SF Pro Display", Sans-Serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App-header {
	background: linear-gradient(302.22deg, #272727 8.17%, #3a3a3a 97.08%);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: none;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: none;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f4acb7;
}
