
ul {
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	align-items: flex-start;
}

:global(ul:nth-child(even)) {
	align-items: flex-end;
}


li {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2rem;
}

.message {
	background: #d9d9d9;
	width: auto;
	margin: 0.8rem 6rem;
	padding: 1rem;
	border-radius: 10px;
	opacity: 1;
}

.message_text {
	font-size: 0.9rem;
	color: #424242;
}

.username {
	font-size: 0.68rem;
	color: #fff;
	font-weight: 300;
}

.more{
	padding-left: 8rem;
	margin-top: -1rem;
}
