form .inputField {
	background: rgba(255, 255, 255, 0.01);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.09);

	margin: 1rem;
	padding: 1rem;

	width: 100%;

	color: white;
}

form .inputField:focus {
	outline: none;
	border: 1px solid rgb(160, 160, 160);
}
