.container {
	display: flex;
	height: 40rem;
	width: 7rem;
	background: linear-gradient(177.03deg, #f4acb7 0.4%, #ffcad4 99.35%);
	border-radius: 11px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	justify-content: center;
}

.profiles_container {
	flex-direction: column;
	padding: 2rem 0rem;
	flex-grow: 3;
	align-items: center;
	justify-content: space-between;
}

.profiles_container .profile {
	align-self: center;
	align-items: center;
}

.username {
	font-size: 0.68rem;
	color: #fff;
	font-weight: 300;
	text-align: center;
}
